<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.contratediarista.br.contratediarista">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAitnjHog4uyzeyIIaTHPn3AC9Z51k8IQo " />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginUi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PrincipalUi"
            android:label="@string/principal" />
        <activity
            android:name=".ui.ConversaActivity"
            android:label="@string/conversas" />
        <activity
            android:name=".ui.MensagensUi"
            android:label="@string/mensagens" />
        <activity
            android:name=".ui.CadastrarVagaUi"
            android:label="@string/cadastrar_vaga" />
        <activity
            android:name=".ui.CadastrarDisponibilidadeUi"
            android:label="@string/cadastrar_disponibilidade" />
        <activity android:name=".ui.CadastrarTipoAtividadeUi" />
        <activity
            android:name=".ui.ConsultarVagasUi"
            android:label="@string/buscar_vagas" />
        <activity
            android:name=".ui.VagasUi"
            android:label="@string/vagas" />
        <activity
            android:name=".ui.VisualizacaoVagaUi"
            android:label="@string/visualizar_informacoes_vaga" />
        <activity
            android:name=".ui.VisualizarVagasVinculadasUi"
            android:label="@string/visualizar_vagas_vinculadas" />
        <activity
            android:name=".ui.AvaliacaoContratanteUi"
            android:label="@string/avaliar_contratante" />
        <activity
            android:name=".ui.ConsultarDisponibilidade"
            android:label="@string/consultar_disponibilidade" />
        <activity
            android:name=".ui.AprovacaoVagasUi"
            android:label="@string/aprovacao_vagas" />
        <activity
            android:name=".ui.VisualizarAprovacaoVagaUi"
            android:label="@string/visualizar_aprovacao_vagas" />
        <activity
            android:name=".ui.InformacoesAprovacaoUi"
            android:label="@string/informacoes_aprovacao" />
        <activity
            android:name=".ui.InformacoesUsuarioUi"
            android:label="@string/informacoes_usuario" />
        <activity
            android:name=".ui.ConsultarDisponibilidadePrestadorUi"
            android:label="@string/consultar_disponibilidades_cadastradas" />
        <activity
            android:name=".ui.ListarDisponibilidadePrestadorUi"
            android:label="@string/listar_disponibilidades" />
        <activity android:name=".ui.VisualizarVagasAprovadasUi" />
        <activity android:name=".ui.MenuActivity" />
        <activity
            android:name=".ui.MenuDrawerUi"
            android:label="@string/title_activity_menu_drawer_ui"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>